<li class="nav-item"><a href="/servicios" class="nav-link"><i class="fas fa-briefcase"></i> Administracion</a></li>
<li class="nav-item"><a href="/catalogo" class="nav-link"><i class="fas fa-book-open"></i> Catálogo</a></li>
<li class="nav-item"><a href="/contacto" class="nav-link"><i class="fas fa-id-card-alt"></i> Contactenos</a></li>
<li class="mx-3 nav-item"> </li>
<li class="nav-item"><a href="/carrito" class="nav-link"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
