<div class="product-slider owl-carousel">
    <div class="product-item">
        <div class="pi-pic">
            <div class="tag-new"><a href="/info-producto">VER MAS</a></div>
            <img src="./img/productos/13.jpg" class="img-fluid">
            <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
            </div>
        </div>
        <div class="pi-text">
            <h6>$35.000</h6>
            <p>Breaker Spectra </p>
        </div>
    </div>


    <div class="product-item">
        <div class="pi-pic">
            <div class="tag-new"><a href="/info-producto">VER MAS</a></div>
            <img src="./img/productos/12.jpg" alt="">
            <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
            </div>
        </div>
        <div class="pi-text">
            <h6>$25.000</h6>
            <a href="/info-producto"><p>Breaker G.E.</p></a>
        </div>
    </div>


    <div class="product-item">
        <div class="pi-pic">
            <div class="tag-new"><a href="/info-producto">VER MAS</a></div>
            <img src="./img/productos/09.jpg" alt="">
            <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
            </div>
        </div>
        <div class="pi-text">
            <h6>$55.000</h6>
            <p>Arrancador Siemens</p>
        </div>
    </div>


    <div class="product-item">
        <div class="pi-pic">
            <div class="tag-new"><a href="/info-producto">VER MAS</a></div>
            <img src="./img/productos/10.jpg" alt="">
            <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
            </div>
        </div>
        <div class="pi-text">
            <h6>$20.000</h6>
            <p>Juegos de contactos </p>
        </div>
    </div>


    <div class="product-item">
        <div class="pi-pic">
            <div class="tag-new"><a href="/info-producto">VER MAS</a></div>
            <img src="./img/productos/11.jpg" alt="">
            <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
            </div>
        </div>
        <div class="pi-text">
            <h6>$65.000</h6>
            <p>Rele Siemens </p>
        </div>
    </div>

</div>
