<section class="admin-section">
    <div class="container">

        <div class="row">

            <a href="/editar-perfil" class="admin-btn admin-btn--primary ">Editar Perfil</a>
            <a href="/cambiar-password" class="admin-btn admin-btn--danger">Cambiar Password</a>
            <a href="" class="admin-btn admin-btn--info">Imagen de Perfil</a>
            <a href="" class="admin-btn admin-btn--success">Ver Ordenes</a>
            <a href="" class="admin-btn admin-btn--secondary">Direcciones de Envio</a>
            <a href="" class="admin-btn admin-btn--warning">Metodos de Pago</a>

        </div>



        <div class="text-center my-5">
            <div class="section-title" style="color: #1e29a4;animation: 5s infinite pulse;">
                <h2 class="font-weight-bold">BIENVENIDO</h2>
            </div>
        </div>


        <div class="row d-flex justify-content-center">
            <img src="/img/loginImage.png" class="img-fluid" width="300px">
        </div>

        <div class="row d-flex justify-content-center mt-3">
            <h4>Christian Alexis Rodriguez Ruales</h4>
        </div>

        <div class="row d-flex justify-content-center">
        <span>Ultima conexion: 24 de Junio del 2020</span>
        </div>



        

    </div>
</section>
