<section class="admin-section">
    <div class="container">

        <div class="row">

            <a href="/admin" class="admin-btn admin-btn--primary">Editar Perfil</a>
            <a href="/cambiar-password" class="admin-btn admin-btn--danger activado">Cambiar Password</a>
            <a href="" class="admin-btn admin-btn--info">Imagen de Perfil</a>
            <a href="" class="admin-btn admin-btn--success">Ver Ordenes</a>
            <a href="" class="admin-btn admin-btn--secondary">Direcciones de Envio</a>
            <a href="" class="admin-btn admin-btn--warning">Metodos de Pago</a>

        </div>



        <div class="text-center my-5">
            <div class="section-title" style="color: #1e29a4;animation: 5s infinite pulse;">
                <h2 class="font-weight-bold">CAMBIAR PASSWORD</h2>
            </div>
        </div>


        <form class="contact-form">

            <div class="campo d-flex justify-content-center align-items-center" >
                <label>Password Anterior</label>
                <input type="text" placeholder="Password Actual" name="antiguo" class="form__input w-75" style="border:1px solid #7e7e78!important;" >
            </div>

            <div class="campo d-flex justify-content-center align-items-center" >
                <label>Password Nuevo</label>
                <input type="text" placeholder="Password Nuevo" name="nuevo" class="form__input w-75" style="border:1px solid #7e7e78!important;" >
            </div>




            <div class="row">
                <div class="text-right col-8">
                    <button class="site-btn button">GUARDAR CAMBIOS</button>
                </div>
            </div>

        </form>

    </div>
</section>
