<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Catalogo de productos</h4>
        <div class="site-pagination">
            <a href="/">Inicio</a> /
        </div>
    </div>
</div>
<!-- Page info end -->


<!-- Category section -->
<section class="category-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="filter-widget">
                    <h2 class="fw-title">Categorias</h2>
                    <ul class="category-menu">
                        <li><a href="#">Basicas</a>
                            <ul class="sub-menu">
                                <li><a href="#">Resistencias <span>(2)</span></a></li>
                                <li><a href="#">Condensadores<span>(56)</span></a></li>
                                <li><a href="#">Leds<span>(36)</span></a></li>

                            </ul>
                        </li>
                        <li><a href="#">Transformadores</a>
                            <ul class="sub-menu">
                                <li><a href="#">Rele Dinamico <span>(2)</span></a></li>
                                <li><a href="#">Transductor<span>(56)</span></a></li>
                                <li><a href="#">de Base<span>(36)</span></a></li>
                            </ul></li>
                        <li><a href="#">Microncontroladores</a></li>
                        <li><a href="#">Arduino</a></li>
                        <li><a href="#">Display</a></li>
                        <li><a href="#">Conectores</a></li>
                    </ul>
                </div>
                <div class="filter-widget mb-0">
                    <h2 class="fw-title">Refinar por</h2>
                    <div class="price-range-wrap">
                        <h4>Precio</h4>
                        <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="1000" data-max="500000">
                            <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;">
								</span>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;">
								</span>
                        </div>
                        <div class="range-slider">
                            <div class="price-input">
                                <input type="text" id="minamount">
                                <input type="text" id="maxamount">
                            </div>
                        </div>
                    </div>
                </div>



                <div class="filter-widget">
                    <h2 class="fw-title">Marca</h2>
                    <ul class="category-menu">
                        <li><a href="#">Siemens <span>(2)</span></a></li>
                        <li><a href="#">General Electric<span>(56)</span></a></li>
                        <li><a href="#">Mitsubichi<span>(36)</span></a></li>
                        <li><a href="#">Yamaha<span>(27)</span></a></li>
                        <li><a href="#">Sony<span>(19)</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="./img/productos/24.jpg" class="imagen-catalogo">
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$35.000</h6>
                                <a href="/info-producto">Rele</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="./img/productos/23.jpg" class="imagen-catalogo">
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$25.000</h6>
                                <a href="/info-producto">Contactor</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="./img/productos/22.jpg" class="imagen-catalogo">
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$15.000</h6>
                                <a href="/info-producto">Juego de Conectores </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="./img/productos/21.jpg" class="imagen-catalogo">
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$25.000</h6>
                                <a href="/info-producto">Contactor</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="./img/productos/20.jpg" class="imagen-catalogo">
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$15.000</h6>
                                <a href="/info-producto">Juego de Conectores </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="./img/productos/19.jpg" class="imagen-catalogo">
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$25.000</h6>
                                <a href="/info-producto">Contactor</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="./img/productos/18.jpg" class="imagen-catalogo">
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$45.000</h6>
                                <a href="/info-producto">Disipador</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="./img/productos/17.jpg" class="imagen-catalogo">
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$25.000</h6>
                                <a href="/info-producto">Contactor</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="./img/productos/16.jpg" class="imagen-catalogo">
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$45.000</h6>
                                <a href="/info-producto">Disipador</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <div class="tag-new">nuevo</div>
                                <img src="./img/productos/15.jpg" class="imagen-catalogo">
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$25.000</h6>
                                <a href="/info-producto">Contactor</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="./img/productos/13.jpg" class="imagen-catalogo">
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$45.000</h6>
                                <a href="/info-producto">Disipador</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="./img/productos/14.jpg" class="imagen-catalogo">
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$25.000</h6>
                                <a href="/info-producto">Contactor</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category section end -->
