<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Finalizar Compra</h4>
        <div class="site-pagination">
            <a href="/">Inicio</a> /
            <a href="/carrito">Carrito de Compras</a>
        </div>
    </div>
</div>
<!-- Page info end -->


<!-- checkout section  -->
<section class="checkout-section spad">
    <div class="container">


        <form>
            <div class="row mb-5">

                <div class="col-lg-8 order-2 order-lg-1 p-3 checkout-cart">
                    <div class="checkout-form">
                        <div class="text-center cf-title">Direccion de Envio y Facturación</div>

                        <div class="row mb-4">

                            <div class="col-md-7">
                                <p class="font-weight-bold">Dirección a Usar</p>
                            </div>

                            <div class="col-md-5">

                                <div class="cf-radio-btns address-rb">
                                    <div class="cfr-item">
                                        <input type="radio" name="pm" id="one">
                                        <label for="one">Usar dirección por defecto</label>
                                    </div>

                                    <div class="cfr-item">
                                        <input type="radio" name="pm" id="two">
                                        <label for="two">Usar otra dirección</label>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="cf-title text-center">Información de Envio</div>

                        <div class="row">

                            <div class="col-md-7">
                                <p class="font-weight-bold" style="margin-bottom: 0 !important;">Recoger en el Local</p>
                            </div>

                            <div class="col-md-5">

                                <div class="cf-radio-btns">
                                    <div class="cfr-item">
                                        <input type="radio" name="envio" id="envio-l">
                                        <label for="envio-l">$0</label>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="row">

                            <div class="col-md-7">
                                <p class="font-weight-bold">Estandar</p>
                            </div>

                            <div class="col-md-5">

                                <div class="cf-radio-btns address-rb">
                                    <div class="cfr-item">
                                        <input type="radio" name="envio" id="envio-s">
                                        <label for="envio-s">$15.000</label>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <hr>


                    <div class="row address-inputs contact-form">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label-pago">Nombre</label>
                                <input type="text" placeholder="Nombre Completo" name="nombre" class="form-control">
                            </div>


                            <div class="from-group">
                                <label class="label-pago">Dirección</label>
                                <input type="text" placeholder="Dirección" name="direccion" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-grupo">
                                <label class="label-pago">Telefono</label>
                                <input type="text" placeholder="Telefono" name="telefono" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-pago">Codigo Postal</label>
                                <input type="text" placeholder="Codigo Postal" name="cod-postal" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-pago">Departamento</label>
                                <input type="text" placeholder="Departamento" name="departamento" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-pago">Ciudad</label>
                                <input type="text" placeholder="Ciudad" name="ciudad" class="form-control">
                            </div>
                        </div>

                    </div>




                    <div class="checkout-form mt-5">
                        <div class="text-center cf-title">Información de Pago
                        </div>
                    </div>

                    <div class="cf-title my-3">Tarjeta de Credito / Debito <img src="img/mastercart.png"></div>

                    <div class="panel">

                        <div id="collapse1" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordion">

                            <div class="panel-body">

                                <!--MUESTRA LISTA DE METODOS DE PAGO DE USUARIO-->
                                <table class="table">
                                    <thead class="thead-light">

                                    <tr>
                                        <th scope="col">Tarjetas Disponibles</th>
                                        <th scope="col">Operacion</th>
                                    </tr>

                                    </thead>

                                    <tbody>

                                    <tr>
                                        <td>
                                            <small>Mastercard ******6045</small>
                                        </td>

                                        <td>
                                            <a href="#">Usar esta tarjeta</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <small>Visa ******5045</small>
                                        </td>

                                        <td>
                                            <a href="#">Usar esta tarjeta</a>
                                        </td>
                                    </tr>

                                    </tbody>

                                </table>


                                <!--formulario para tarjeta-->
                                <img src="/img/creditcard.png">

                                <div class="contact-form">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-pago"> Tipo de Tarjeta</label>
                                                <select name="tipotarjeta" class="form-control">
                                                    <option value="1">Visa</option>
                                                    <option value="2">MasterCard</option>
                                                    <option value="3">Discover</option>
                                                    <option value="4">American Express</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-pago">Nombre Titular</label>
                                                <input type="text" class="form-control"
                                                       placeholder="Nombre del Titular">
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">

                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="label-pago">Numero de Tarjeta</label>
                                                <input type="text" class="form-control"
                                                       placeholder="Numero de tarjeta"
                                                       maxlength="19">
                                            </div>
                                        </div>


                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="label-pago">CVC</label>
                                                <input type="text" class="form-control" placeholder="CVC"
                                                       maxlength="3">
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="label-pago"> Fecha de Expiracion</label>
                                                <div class="d-flex justify-content-around">
                                                    <select name="mes" class="form-control">
                                                        <option value="" disabled selected>Mes</option>
                                                        <option value="1">Enero</option>
                                                        <option value="2">Febrero</option>
                                                        <option value="3">Marzo</option>
                                                        <option value="4">Abril</option>
                                                        <option value="5">Mayo</option>
                                                        <option value="6">Junio</option>
                                                        <option value="7">Julio</option>
                                                        <option value="8">Agosto</option>
                                                        <option value="9">Septiembre</option>
                                                        <option value="10">Octubre</option>
                                                        <option value="11">Noviembre</option>
                                                        <option value="12">Diciembre</option>
                                                    </select>
                                                    <select name="year" class="form-control">
                                                        <option value="" disabled selected>Año</option>
                                                        <option value="2021">2020</option>
                                                        <option value="2020">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>


                                    </div>


                                </div>


                            </div>


                        </div>
                    </div>


                    <button type="submit" class="site-btn submit-order-btn button">Enviar Orden</button>
                </div>


                <div class="col-lg-4 order-1 order-lg-2">
                    <div class="checkout-cart">
                        <h3>Tu carrito</h3>
                        <ul class="product-list">
                            <li>
                                <div class="pl-thumb"><img src="img/productos/thumbs/th_11.jpg"></div>
                                <h6>Contactor Siemens</h6>
                                <p>$45.000</p>
                            </li>
                            <hr>
                            <li>
                                <div class="pl-thumb"><img src="img/productos/thumbs/th_12.jpg"></div>
                                <h6>Reductor de corriente</h6>
                                <p>$25.000</p>
                            </li>
                        </ul>
                        <ul class="price-list">
                            <li>Total<span class="mr-5">$70.000</span></li>
                            <li>Envio<span class="mr-5">Gratis</span></li>
                            <li class="font-weight-bold">Total<span class="mr-5">$70.000</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>
<!-- checkout section end -->
