<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Contáctanos</h4>
        <div class="site-pagination">
            <a href="/">Inicio</a> /
        </div>
    </div>
</div>
<!-- Page info end -->


<!-- Contact section -->
<section class="contact-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 contact-info">
                <form class="contact-form">
                    <input type="text" placeholder="Tu nombre" name="nombre" class="form__input">
                    <input type="text" placeholder="Tu email" name="email" class="form__input">
                    <input type="text" placeholder="Asunto" name="asunto" class="form__input">
                    <textarea placeholder="Mensaje" name="mensaje" class="form__input"></textarea>
                    <button class="site-btn button">ENVIAR</button>
                </form>
            </div>

            <div class="col-lg-6">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="837" height="500" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=ciudad%20alamos%20cali&t=&z=15&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://thevpndeal.com/nordvpn-coupon/">nordvpn coupon</a></div>
                    <style>.mapouter {
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 837px;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 837px;
                        }</style>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- Contact section end -->
