<!-- Crear cuenta section -->
<section class="registro-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 contact-info scrolli d-flex justify-content-center">
                <div class="card bg-gray text-center p-5">

                    <h2 class="font-weight-bold m-3 sombra-texto" style="color: #1e29a4;animation: 5s infinite pulse;">CREA TU CUENTA</h2>



                    <img src="/img/crearCuenta.png" class="img-fluid mx-auto" width="200px">
                    <form class="contact-form">
                        <input type="email" placeholder="Tu Email" name="email" class="form__input">
                        <input type="text" placeholder="Tu Nombre" name="nombre" class="form__input">
                        <input type="password" placeholder="Tu Password" name="password" class="form__input">
                        <input type="password" placeholder="Repite tu Password" name="repetir" class="form__input">
                        <button class="site-btn button btn-block">CREAR CUENTA</button>
                    </form>
                </div>
            </div>


        </div>
    </div>


</section>
<!-- Contact section end -->
