<section class="admin-section">
    <div class="container">

        <%- include('partials/menuAdmin.ejs')%>


        <div class="text-center my-5">
            <div class="section-title" style="color: #1e29a4;animation: 5s infinite pulse;">
                <h2 class="font-weight-bold sombra-texto">EDITAR PERFIL</h2>
            </div>
        </div>


        <form class="contact-form">

            <div class="campo d-flex justify-content-center align-items-center" >
                <label>Nombre</label>
                <input type="text" placeholder="Tu Nombre" name="nombre" class="form__input w-75" >
            </div>

            <div class="campo d-flex justify-content-center align-items-center">
                <label>Email</label>
                <input type="email" placeholder="Tu Email" name="email" class="form__input w-75"  >
            </div>

            <div class="campo d-flex justify-content-center align-items-center" >
                <label>Telefono</label>
                <input type="text" placeholder="Tu Telefono" name="telefono" class="form__input w-75"  >
            </div>

            <div class="campo descripcion d-flex justify-content-center align-items-center">
                <label>Quien soy</label>
                <div class="form__input w-75">
                    <input type="hidden" id="x" name="descripcion">
                    <trix-editor input="x"></trix-editor>
                </div>
            </div>

            <div class="row">
                <div class="text-right col-8">
                    <button class="site-btn button">GUARDAR CAMBIOS</button>
                </div>
            </div>

        </form>

    </div>
</section>
