<!--boton de llamada-->
<div class="call-box d-flex justify-content-center align-items-center scrolli"
     data-toggle="modal"
     data-target="#contactModal">
    <i class="fas fa-phone text-primary fa-3x"></i>
    <p class="call-box__text d-none">Comunicate con <br> nosotros</p>
    <p class="call-box__number d-none">312 860 3524 <br> 300 344 3901</p>
</div>


<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="img/portada-ppal3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white recuadro-ppal">
                        <span>Diseño Electronico</span>
                        <h2>Controladores Sensores y Mas</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis. </p>
                        <a href="#" class="site-btn sb-white">VER SERVICIOS</a>
                    </div>
                </div>
                <div class="offer-card text-white">
                    <p class="mt-4" style="font-size: 30px">Diseño de</p>
                    <p class="font-weight-bold" style="font-size: 40px">CIRCUITOS</p>
                    <p class="font-weight-bold" style="font-size: 40px">IMPRESOS</p>
                </div>
            </div>
        </div>


        <div class="hs-item set-bg" data-setbg="img/portada-ppal6.png">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white recuadro-ppal">
                        <span>Venta de repuestos electronicos</span>
                        <h2>Al por mayor y detal</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis. </p>
                        <a href="#" class="site-btn sb-white">VER CATALOGO</a>
                    </div>
                </div>


                <div class="offer-card text-white">
                    <span>Desde</span>
                    <h2>$2<small style="font-size: 20px !important;">mil</small></h2>
                    <span>COMPRAR</span>
                </div>

            </div>
        </div>


        <div class="hs-item set-bg" data-setbg="img/portada-ppal2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white recuadro-ppal">
                        <h2>Reparación de Tarjetas</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis. </p>
                        <a href="#" class="site-btn sb-line">CONTACTANOS</a>
                    </div>
                </div>


                <div class="offer-card text-white">
                    <p class="mt-5 mb-3" style="font-size: 20px">Implementacion e</p>
                    <p class="" style="font-size: 20px">Instalación</p>
                    <p class="font-weight-bold mt-5" style="font-size: 50px">PLCS</p>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="slide-num-holder" id="snh-1"></div>
    </div>

</section>


<!-- FEATURES section -->
<section class="features-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="img/icons/1.png" alt="#">
                    </div>
                    <h2>PAGOS SEGUROS Y RAPIDOS</h2>
                </div>
            </div>
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="img/icons/2.png" alt="#">
                    </div>
                    <h2>Productos y servicios de alta calidad</h2>
                </div>
            </div>
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="img/icons/3.png" alt="#">
                    </div>
                    <h2>Entregas Rapidas y seguras</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features section end -->


<!-- ULTIMOS PRODUCTOS section -->
<section class="top-letest-product-section">
    <div class="container">

        <div class="text-center heading-secondary__box">
            <div class="section-title" style="color: #1e29a4;animation: 5s infinite pulse;">
                <h2 class="font-weight-bold">ULTIMOS PRODUCTOS</h2>
            </div>
        </div>


        <div class="product-slider owl-carousel">
            <div class="product-item">
                <div class="pi-pic">
                    <img src="./img/productos/13.jpg" class="img-fluid">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$35.000</h6>
                    <p>Breaker Spectra </p>
                </div>
            </div>


            <div class="product-item">
                <div class="pi-pic">
                    <div class="tag-new">New</div>
                    <img src="./img/productos/12.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$25.000</h6>
                    <p>Breaker G.E.</p>
                </div>
            </div>


            <div class="product-item">
                <div class="pi-pic">
                    <img src="./img/productos/09.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$55.000</h6>
                    <p>Arrancador Siemens</p>
                </div>
            </div>


            <div class="product-item">
                <div class="pi-pic">
                    <img src="./img/productos/10.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$20.000</h6>
                    <p>Juegos de contactos </p>
                </div>
            </div>


            <div class="product-item">
                <div class="pi-pic">
                    <img src="./img/productos/11.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="fas fa-shopping-cart"></i><span style="font-size: 8px;">AÑADIR AL CARRITO</span></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$65.000</h6>
                    <p>Rele Siemens </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ULTIMOS PRODUCTOS section end -->









<!--seccion con algo de informacion de informacion de la empresa - prestigio-->
<section class="card-section d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 scrolli d-flex justify-content-center">
                <div class="card bg-gray text-center card-move card-size">
                    <i class="fas fa-briefcase fa-8x card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Calidad certificada</h5>
                        <p class="card-text">Somos ingenieros con disposición para suplir las necesidades de las nuevas
                            tecnologias electronicas brindando soluciones efectivas.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 scrolli d-flex justify-content-center">
                <div class="card bg-gray text-center card-move card-size">
                    <i class="fas fa-globe-americas fa-8x card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Nuestra cobertura</h5>
                        <p class="card-text">Contamos con una amplia cobertura de servicios en todo el Sur occidente
                            colombiano para departamentos de Nariño, Cauca y Valle del Cauca.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 scrolli d-flex justify-content-center">
                <div class="card bg-gray text-center card-move card-size">
                    <i class="fas fa-car-battery fa-8x card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Equipos especializados</h5>
                        <p class="card-text">Poseemos un conjunto de equipos especializados para la deteccion de fallas
                            y posterior reemplazo de componentes electrónicos dañado.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>





<!--Algo de informacion de nuestros servicios e imagenes-->
<section class="bg-reparacion">
    <div class="container">
        <div class="text-center heading-secondary__box">
            <div class="section-title">
                <h2 class="font-weight-bold" style="color: #1e29a4;animation: 5s infinite pulse;">REPARACIÓN DE TODO TIPO DE CIRCUITOS
                    ELECTRONICOS DE APLICACIÓN INDUSTRIAL</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 servicios-box scrolli">
                <li class="paragraph font-weight-bold"> Se maneja el servicio reparación de modulos de control para compresores de aire
                    tales como Ingersoll-Rand, Atlas Copco, Kaeser y Quincy.
                </li>
                <li class="paragraph font-weight-bold">Reparacion de modulos de control electronico para retroexcavadoras marca
                    Caterpillar y Case 9030b, asi como para variadores de velocidad de diferentes marcas comerciales.
                </li>
            </div>

            <!--seccion del slider-->
            <div class="col-md-6 scrolli">
                <div class="carousel slide carousel-fade" id="mycarousel" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="active" data-target="#mycarousel" data-slide-to="0"></li>
                        <li data-target="#mycarousel" data-slide-to="1"></li>
                        <li data-target="#mycarousel" data-slide-to="2"></li>
                        <li data-target="#mycarousel" data-slide-to="3"></li>
                    </ol>

                    <!--selector imagenes-->
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-img1 active" data-interval="2500">
                            <div class="carousel-caption"></div>
                        </div>

                        <div class="carousel-item carousel-img2" data-interval="2500">
                            <div class="carousel-caption"></div>
                        </div>

                        <div class="carousel-item carousel-img3" data-interval="2500">
                            <div class="carousel-caption"></div>
                        </div>

                        <div class="carousel-item carousel-img4" data-interval="2500">
                            <div class="carousel-caption"></div>
                        </div>
                    </div>

                    <!--controles del carusel-->
                    <a href="#mycarousel" class="carousel-control-prev" data-slide="prev"><span
                                class="carousel-control-prev-icon"></span></a>

                    <a href="#mycarousel" class="carousel-control-next" data-slide="next"><span
                                class="carousel-control-next-icon"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>








<!--seccion con informacion de lo que realiza la empresa-->
<section class="services-section m-5 pb-5">
    <div class="services-section__fondo"></div>
    <div class="container">

        <div class="text-center heading-secondary__box">
            <div class="section-title" style="color: #1e29a4;  animation: 5s infinite pulse;">
                <h2 class="font-weight-bold">REPARACIÓN DE MODULOS INTELLISYS</h2>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-1"></div>

            <div class="col-md-10 services__img scrolli m-5">
                <img src="img/consola-3.JPG" alt="" class="services__img-out services__img-out--1">
                <img src="img/consola22.png" alt="" class="services__img-out services__img-out--2">

            </div>

            <div class="col-md-1"></div>

        </div>
    </div>
</section>


<!-slider infinito con marcas->
<div class="slider-infinito__box">
    <div class="slider-infinito__img">
    </div>
</div>


<!--seccion de contacto-->
<!--<section id="contacto">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="scrolli contacto">
                <h3 class="text-center heading-secondary">Escribenos para mas información</h3>
                <hr>

                <div class="card-body d-flex">
                    <div class="col-md-8 col-sm-12">
                        <div class="contacto__interno">

                            <form action="enviar.php" method="post">
                                <div class="form-group">
                                    <input type="text" class="form__input" placeholder="Nombre" id="name" name="name"
                                           required/>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form__input" placeholder="Email" id="email" name="email"
                                           required/>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form__input" placeholder="Telefono" id="tel" name="phone"
                                           required/>
                                </div>

                                <div class="form-group">
                                    <textarea cols="30" rows="2" class="form__input"
                                              placeholder="Escribenos, estamos para ayudarte" name="message"
                                              required></textarea>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary button">Enviar</button>
                                </div>
                            </form>

                        </div>
                    </div>


                    <div class="col-md-4 d-none d-md-block d-lg-block align-self-center scrolli">
                        <div class="card__info text-center">
                            <p class="card__text">Cali - Valle</p>
                            <p class="card__text">313 729 5691 - 300 344 3901</p>
                            <a href="https://api.whatsapp.com/send?phone=+573003443901&text=Escribenos, estamos para ayudarte."><img
                                        src="img/logo_Whatsapp.png" alt="logo whatsapp" class="whatsapp_logo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
