<!-- Login section -->
<section class="login-section">
    <div class="container">
        <div class="row">


            <div class="col-lg-12 contact-info scrolli d-flex justify-content-center">
                <div class="card bg-gray text-center p-5">

                    <h2 class="font-weight-bold m-3 sombra-texto" style="color: #1e29a4;animation: 5s infinite pulse;">INICIAR SESIÓN</h2>



                    <img src="/img/loginImage.png" class="img-fluid mx-auto" width="200px">
                    <form class="contact-form">
                        <input type="text" placeholder="Tu email" name="email" class="form__input">
                        <input type="password" placeholder="Tu password" name="password" class="form__input">
                        <button class="site-btn button btn-block">Ingresar</button>
                    </form>
                </div>
            </div>


        </div>
    </div>


</section>
<!-- Contact section end -->
