<section class="admin-section">

    <div class="container">

        <%- include('partials/menuAdmin.ejs') %>


        <div class="text-center mt-5 mb-1">
            <div class="section-title" style="color: #1e29a4;animation: 5s infinite pulse;">
                <h2 class="font-weight-bold sombra-texto">ORDENES DE COMPRA</h2>
            </div>

            <div>
                <p class="sombra-texto">Revisa el detalle de tus ordenes</p>
            </div>
        </div>


        <div class="d-flex justify-content-center">
            <table id="example" class="mdl-data-table" style="min-width:100%">
                <thead style="background-color: rgb(65,139,202);color: white">
                <tr>
                    <th class="text-white">Número de Orden</th>
                    <th class="text-white">Estado</th>
                    <th class="text-white">Total</th>
                    <th class="text-white">Fecha</th>
                    <th class="text-white">Operación</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>240858</td>
                    <td>En Proceso</td>
                    <td>$ 25.000</td>
                    <td>01/05/2020</td>
                    <td class="text-center">
                        <a href="/detalle-orden" data-toggle="tooltip" data-placement="top" title="Ver Detalle">
                            <i class="fas fa-eye fa-2x"></i>
                        </a>
                        <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="Imprimir">
                            <i class="fas fa-print fa-2x"></i>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>347858</td>
                    <td>Entregado</td>
                    <td>$ 25.000</td>
                    <td>01/05/2020</td>
                    <td class="text-center">
                        <a  href="/detalle-orden" data-toggle="tooltip" data-placement="top" title="Ver Detalle">
                            <i class="fas fa-eye fa-2x"></i>
                        </a>
                        <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="Imprimir">
                            <i class="fas fa-print fa-2x"></i>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>348975</td>
                    <td>En proceso</td>
                    <td>$ 25.000</td>
                    <td>01/05/2020</td>
                    <td class="text-center">
                        <a  href="/detalle-orden" data-toggle="tooltip" data-placement="top" title="Ver Detalle">
                            <i class="fas fa-eye fa-2x"></i>
                        </a>
                        <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="Imprimir">
                            <i class="fas fa-print fa-2x"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>


    </div>


</section>
