<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top-admin" id="menu2">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link item-menu-super text-white" href="#">Clientes</a>
                <a class="nav-item nav-link item-menu-super text-white" href="#">Informes</a>
                <a class="nav-item nav-link item-menu-super text-white" href="#">Productos</a>
                <a class="nav-item nav-link item-menu-super text-white" href="#">Cambiar Password</a>
            </div>
        </div>
    </div>
</nav>