<section class="super-section">


    <%- include('partials/menuSuper.ejs') %>



    <div class="container">


        <div class="text-center" style="margin-top: 100px">
            <div class="section-title" style="color: #1e29a4;animation: 5s infinite pulse;">
                <h2 class="font-weight-bold sombra-texto">CAMBIAR PASSWORD</h2>
            </div>
        </div>


        <nav aria-label="breadcrumb">
            <ol class="breadcrumb site-pagination">
                <li class="breadcrumb-item"> <a href="/panel-super">Panel</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cambiar Password</li>
            </ol>
        </nav>

        <hr>


        <form class="contact-form">

            <div class="campo d-flex justify-content-center align-items-center" >
                <label class="label-pago">Password Anterior</label>
                <input type="text" placeholder="Password Actual" name="antiguo" class="form__input w-75"  >
            </div>

            <div class="campo d-flex justify-content-center align-items-center" >
                <label class="label-pago">Password Nuevo</label>
                <input type="text" placeholder="Password Nuevo" name="nuevo" class="form__input w-75">
            </div>




            <div class="row">
                <div class="text-right col-8">
                    <button class="site-btn button">GUARDAR CAMBIOS</button>
                </div>
            </div>

        </form>

    </div>
</section>




