<section class="super-section">


    <%- include('partials/menuSuper.ejs') %>


    <div class="container">

        <div class="text-center" style="margin-top: 100px">
            <div class="section-title" style="color: #1e29a4;animation: 5s infinite pulse;">
                <h2 class="font-weight-bold sombra-texto">CLIENTES</h2>
            </div>

            <div>
                <p class="sombra-texto">Realiza los cambios pertinentes en el listado de clientes</p>
            </div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb site-pagination">
                <li class="breadcrumb-item"> <a href="/panel-super">Panel</a></li>
                <li class="breadcrumb-item active" aria-current="page">Clientes</li>
            </ol>
        </nav>


        <hr>


        <div class="d-flex justify-content-center">
            <table id="example" class="mdl-data-table" style="min-width:100%;">
                <thead style="background-color: rgb(65,139,202);color: white">
                <tr>
                    <th class="text-white">Nombre Cliente</th>
                    <th class="text-white">Email</th>
                    <th class="text-white">Telefono</th>
                    <th class="text-white">Cantidad de compras</th>
                    <th class="text-white">Total en Compras ($)</th>
                    <th class="text-white">Fecha de Suscripción</th>
                    <th class="text-white">Ordenes</th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td>Christian Rodriguez</td>
                    <td>alexroguez59@gmail.com</td>
                    <td>3114045322</td>
                    <td>5</td>
                    <td>$250.000</td>
                    <td>01/02/2020</td>
                    <td class="text-center">
                        <a href="/panel-super/clientes/ordenes" data-toggle="tooltip" data-placement="top" title="Ver Detalle">
                            <i class="fas fa-eye fa-2x"></i>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>Christian Rodriguez</td>
                    <td>alexroguez59@gmail.com</td>
                    <td>3114045322</td>
                    <td>5</td>
                    <td>$250.000</td>
                    <td>01/02/2020</td>
                    <td class="text-center">
                        <a href="/panel-super/clientes/ordenes" data-toggle="tooltip" data-placement="top" title="Ver Detalle">
                            <i class="fas fa-eye fa-2x"></i>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>Christian Rodriguez</td>
                    <td>alexroguez59@gmail.com</td>
                    <td>3114045322</td>
                    <td>5</td>
                    <td>$250.000</td>
                    <td>01/02/2020</td>
                    <td class="text-center">
                        <a href="/panel-super/clientes/ordenes" data-toggle="tooltip" data-placement="top" title="Ver Detalle">
                            <i class="fas fa-eye fa-2x"></i>
                        </a>
                    </td>
                </tr>


                </tbody>
            </table>

        </div>


    </div>
</section>








