<section class="super-section">


    <%- include('partials/menuSuper.ejs') %>



    <div class="container">

        <div class="text-center"  style="margin-top: 100px">
            <div class="section-title" style="color: #1e29a4;animation: 5s infinite pulse;">
                <h2 class="font-weight-bold sombra-texto">INFORMES</h2>
            </div>

            <div>
                <p class="sombra-texto">Revisa el informe de ventas de acuerdo a las fechas establecidas</p>
            </div>
        </div>


        <nav aria-label="breadcrumb">
            <ol class="breadcrumb site-pagination">
                <li class="breadcrumb-item"> <a href="/panel-super">Panel</a></li>
                <li class="breadcrumb-item active" aria-current="page">Informes</li>
            </ol>
        </nav>

        <hr>


        <div class="d-flex justify-content-center">

            <form class="contact-form">

                <div class="campo d-flex justify-content-center align-items-center" >
                    <label class="label-pago">Fecha inicio</label>
                    <input type="date" placeholder="Fecha Inicio" name="fechaInicio" class="form__input w-75 fechaInicio">
                </div>


                <div class="campo d-flex justify-content-center align-items-center" >
                    <label class="label-pago">Fecha fin</label>
                    <input type="date" placeholder="Fecha Fin" name="fechaFin" class="form__input w-75 fechaFin" >
                </div>


                <div class="row">
                    <div class="col-12 text-center">
                        <button class="site-btn button">GENERAR INFORME</button>
                    </div>
                </div>



            </form>


        </div>



    </div>
</section>








