<section class="super-section">


    <%- include('partials/menuSuper.ejs') %>


    <div class="container">

        <div class="text-center" style="margin-top: 100px">
            <div class="section-title" style="color: #1e29a4;animation: 5s infinite pulse;">
                <h2 class="font-weight-bold sombra-texto">ORDENES DEL CLIENTE</h2>
            </div>

            <div>
                <p class="sombra-texto">Revisa las ordenes del cliente : Christian Alexis Rodriguez</p>
            </div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb site-pagination">
                <li class="breadcrumb-item"> <a href="/panel-super">Panel</a></li>
                <li class="breadcrumb-item"> <a href="/panel-super/clientes">Clientes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ordenes</li>
            </ol>
        </nav>

        <hr>





        <div class="d-flex justify-content-center">
            <table id="example" class="mdl-data-table" style="min-width:100%">
                <thead style="background-color: rgb(65,139,202);color: white">
                <tr>
                    <th class="text-white">Número de Orden</th>
                    <th class="text-white">Cliente</th>
                    <th class="text-white">Estado</th>
                    <th class="text-white">Total Compra</th>
                    <th class="text-white">Fecha</th>
                    <th ></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>240858</td>
                    <td>Christian Rodriguez</td>
                    <td>En Proceso</td>
                    <td>$ 25.000</td>
                    <td>01/05/2020</td>
                    <td class="text-center">
                        <a href="/panel-super/clientes/detalle-orden" data-toggle="tooltip" data-placement="top" title="Ver Detalle">
                            <i class="fas fa-eye"></i>
                        </a>
                        <span class="ml-3"></span>
                        <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="Imprimir">
                            <i class="fas fa-print"></i>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>347858</td>
                    <td>Christian Rodriguez</td>
                    <td>Entregado</td>
                    <td>$ 25.000</td>
                    <td>01/05/2020</td>
                    <td class="text-center">
                        <a  href="/panel-super/clientes/detalle-orden" data-toggle="tooltip" data-placement="top" title="Ver Detalle">
                            <i class="fas fa-eye"></i>
                        </a>
                        <span class="ml-3"></span>
                        <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="Imprimir">
                            <i class="fas fa-print"></i>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>348975</td>
                    <td>Christian Rodriguez</td>
                    <td>En proceso</td>
                    <td>$ 25.000</td>
                    <td>01/05/2020</td>
                    <td class="text-center">
                        <a  href="/panel-super/clientes/detalle-orden" data-toggle="tooltip" data-placement="top" title="Ver Detalle">
                            <i class="fas fa-eye"></i>
                        </a>
                        <span class="ml-3"></span>
                        <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="Imprimir">
                            <i class="fas fa-print"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>


    </div>


</section>
