<section class="super-section">


    <%- include('partials/menuSuper.ejs') %>



    <div class="container">


        <div class="text-center mb-5" style="margin-top: 100px">
            <div class="section-title" style="color: #1e29a4;animation: 5s infinite pulse;">
                <h2 class="font-weight-bold sombra-texto">BIENVENIDO</h2>
            </div>
        </div>

        <hr>


        <div class="row d-flex justify-content-center">
            <img src="/img/super.png" class="img-fluid" width="300px">
        </div>

        <div class="row d-flex justify-content-center mt-3">
            <h4 class="sombra-texto">Christian Alexis Rodriguez Ruales</h4>
        </div>

        <div class="row d-flex justify-content-center">
            <span class="sombra-texto">Ultima conexión: 24 de Junio del 2020 5:30 am</span>
        </div>





    </div>
</section>
